@model IEnumerable<HelpAdminData.InventoryItem>

@{
    ViewBag.Title = "Inventory";
}

<h2>Items list</h2>

<p>
    @Html.ActionLink("Add an item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Details
        </th>
        <th>
           Serial Number
        </th>
        <th>
           Supplier
        </th>
        <th>
            Category
        </th>
        <th>
            Code
        </th>
        <th>
            Purchase Date
        </th>
        <th>
            Guarantee
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.GuaranteeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventoryItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventoryItemID })
        </td>
    </tr>
}

</table>
