@model IEnumerable<HelpAdminData.InventoryItem>

@{
    ViewBag.Title = "Inventory";
}

<h2>Items list</h2>

<p>
    @Html.ActionLink("Add an item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
           Supplier Name
        </th>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCategory.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventoryItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventoryItemID })
        </td>
    </tr>
}

</table>
